body {
    margin: 0;
    color: #eee;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 1 1fr 1 1fr 1 .5fr;
    gap: 1%;
    background-color: #0f172a;
}


/*---HEADER---*/


.header__overlay {
		width: 100vw;
		height: 100vh;
		background-color: #000c;
		position: absolute;
}

.header__background {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(imágenes/proxy-image.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-wrap: balance;
    text-align: center;
}

h1 {
    margin: 0;
    margin: auto;
    font-size: 10em;
    z-index: 10;
}


/*---MAIN---*/


a {
    text-decoration: none;
}

.main {
    display: flex;
    box-sizing: border-box;
}

.main__contenedor {
    width: 80vw;
    height: 100vh;
    background-color: #222938;
    margin: auto;
    position: relative;
    border-radius: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr 0.5fr;
    gap: 1em;
    padding: 2%;
    text-align: center;
}

.contenedor__card {
    background-color: #111827;
    border-radius: 10px;
}

.card__contenedor--img {
    width: 100%;
    display: inline;
}

.contenedor--img__img{
    width: 100%;
}

.contenedor__button {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #111827;
    border-radius: 10px;
    letter-spacing: 1em;
    font-size: 2em;
}

.contenedor--title, .contenedor__button{
    display: flex;
    justify-content: center;
    justify-items: center;
    transition: all .25s;
}

.main__contenedor h2 {
    color: #580EF6;
}

.contenedor__card:hover, .contenedor__button:hover {  
    transform: translate(-5px);
    box-shadow: 5px 5px 10px #0006;
}

.contenedor__card:hover h2, .contenedor__button:hover h2 {
    color: #46b;
}


/*---FOOTER---*/


.footer {
    display: flex;
}

.footer__contenedor {
    width: 100vw;
    height: 30vh;
    background-color: #222938;
    display: flex;
}

.contenedor__contenedor--info {
    width: 70%;
    height: 50%;
    display:grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 1 1fr;
    gap: 1em;
    padding: 1em;
}

.contenedor--info__info {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #111827; 
    border-radius: 10px;
    padding: 10px 0 0 0 ;
}

.contenedor--info__info:first-child , .contenedor--info__info:last-child {
    display: grid;
    grid-template-rows: repeat(3, .8fr);
}

.info__contacto {
    margin: auto;
    border-radius: 8px;
    padding: 10px;
}

.info__contacto a, .info__profes p{
    color: #580EF6;
}

.info__contacto:hover a {
    color: #46b;
}

.info__contacto:hover {
    background-color: #46c5;
	border: #35b solid 2px;
	border-radius: 8px;
}

.footer__contenedor--logo {
    width: 100px;
    height: 100px;
    position: relative;
    left: 12%;
    top: 25%;
    transition: all .25s;
}

.footer__contenedor--logo:hover {
    transform: translate(-15px);
}

#dato {
    font-size: 3em;
    font-weight: bold;
    color: #580EF6;
}

.contenedor--logo__vinculo {
    width: 100%;
    height: 100%;
}

.contenedor--logo__logo {
    background-image: url(imágenes/ungs_logo.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}