body { 
    background-color: #0f172a;
    font-family: sans-serif;
    display: flex;
}

.card {
    width: 50vw;
    height: 70vh;
    background-color: #222938;
    border-radius: 10px;
    padding: 20px 50px;
    margin: auto;
    margin-top: 20px;
    color: #580EF6;
    text-align: justify;
    transition: all .25s;
}

.card:hover {
    transform: translate(-15px);
    box-shadow: 5px 5px 10px #0006;
}

h1 {
    margin: auto;
    color: #eee;
    position: relative;
    left: 30%;
}


.contenedor__video {
    width: 60%;
    padding: 10px;
    margin: auto;
    background-color: #0f172a;
    display: flex;
    border-radius: 10px;
}

.video {
    width: 90%;
    border-radius: 10px;
    margin: auto;
}